{% extends "base.html" %}
{% block head_title %}{{ title }} - {% endblock %}
{% block content %}
<div class="container">
 <!-- ======= Blog Section ======= -->
 <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{ object.title }}</h2>

        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li>{{ object.title }}</li>
        </ol>
      </div>

    </div>
  </section>
  <!-- End Blog Section -->
  <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

      <div class="row">
        <div class="col-lg-8">           
          {% if truncate %}
            {{ object.content|striptags|linebreaks|truncatewords:30 }}
          {% else %}
            {{ object.content|striptags|linebreaks }}
          {% endif %}
        </div><!-- End blog entries list -->
        <div class="col-lg-4">
            <div class="sidebar">
                <h3 class="sidebar-title">Services</h3>
              <div class="sidebar-item recent-posts">
                {% for object in services_list %}
                    <div class="post-item clearfix">
                        <img src="assets/img/recent-posts-1.jpg" alt="">
                        <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
                    </div>
                {% endfor %}
              </div>
            </div>

        </div>
    </div><!-- End row -->

</div><!-- End container -->

</section><!-- End Blog Section -->





</div>
{% endblock %}